<!DOCTYPE html>
<html lang="en" ng-app="adscatApp">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge"> 
		<meta name="viewport" content="width=device-width, initial-scale=1"> 
		<title>Guia</title>
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<meta name="author" content="" />
		<link rel="shortcut icon" href="../favicon.ico">
		<link rel="stylesheet" type="text/css" href="css/normalize.css" />
		<link rel="stylesheet" type="text/css" href="css/style.css" />
		<link rel="stylesheet" type="text/css" href="css/component.css" />
		<script src="js/modernizr.custom.js"></script>

		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.14/angular.min.js"></script>
	    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.14/angular-resource.min.js">
	    </script>
	    <script src="js/controllers.js"></script>

	</head>
	<body >
		<div class="container" ng-controller="AdsListCtrl">
			<header>
				<section class="grid-wrap">
					<h1 class="logo">Guia</h1>
					<input placeholder="Exemplo: Sapataria" ng-model="query">
				</section>
			</header>
			<section class="grid-wrap">
				<div class="banner-slim">
					<h2>Banner Slim</h2>
				</div>
			</section>
			<section class="grid-wrap">
				<ul class="grid swipe-down" id="grid">
					<li ng-repeat="ad in ads | filter:query">
						<a href="#" title="{{ad.name}}">
							<img src="img/ads/{{ad.image}}">
							<h3>{{ad.name}}</h3>
						</a>
					</li>
				</ul>
			</section>
		</div>
		<script src="js/masonry.pkgd.min.js"></script>
		<script src="js/imagesloaded.pkgd.min.js"></script>
		<script src="js/classie.js"></script>
		<script src="js/colorfinder-1.1.js"></script>
		<script src="js/gridScrollFx.js"></script>
	</body>
</html>