<!DOCTYPE html>
<html lang="en" ng-app="adscatApp">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge"> 
		<meta name="viewport" content="width=device-width, initial-scale=1"> 
		<title>O Guia da Vila Nova Cachoeirinha</title>
		<meta name="description" content="Encontre tudo o que você precisa no bairro da Vila Nova Cachoeirinha." />
		<meta name="keywords" content="guia, cachoeirinha" />
		<meta name="author" content="" />
		<link rel="shortcut icon" href="../favicon.ico">
		<link rel="stylesheet" type="text/css" href="css/normalize.css" />
		<link rel="stylesheet" type="text/css" href="css/style.css" />
		<link rel="stylesheet" type="text/css" href="css/component.css" />
		<script src="js/modernizr.custom.js"></script>

	    <script src="js/angular.js"></script>
	    <script src="js/angular-route.js"></script>
	    <script src="js/controllers.js"></script>

	</head>
	<body >
		<div class="container" ng-controller="AdsListCtrl">
			<header>
				<section class="grid-wrap">
					<h1 class="logo"><a href="/"title="Encontre tudo o que você precisa no bairro da Vila Nova Cachoeirinha.">O Guia da Vila Nova Cachoeirinha</a></h1>
					<input placeholder="Exemplo: Sapataria" ng-model="query">
					<a class="anuncie" href="anuncie.html" title="Anuncie">Anuncie</a>
				</section>
			</header>
			<section class="grid-wrap">
				<div class="banner-slim">
					<img src="img/banner-slim-demo.jpg">
				</div>
			</section>
			<section class="grid-wrap">
				<ul class="grid swipe-down" id="grid">
					<li ng-repeat="ad in ads | filter:query">
						<a href="#" title="{{ad.name}}">
							<img src="img/ads/{{ad.image}}">
							<h3>{{ad.name}}<span>11 2231.2425</span></h3>
							<p>{{ad.mapa}}</p>
						</a>
					</li>
				</ul>
			</section>
		</div>
		<script src="js/masonry.pkgd.min.js"></script>
		<script src="js/imagesloaded.pkgd.min.js"></script>
		<script src="js/classie.js"></script>
		<script src="js/colorfinder-1.1.js"></script>
		<script src="js/gridScrollFx.js"></script>
		<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		  ga('create', 'UA-52643707-1', 'auto');
		  ga('send', 'pageview');

		</script>
	</body>
</html>