@import url(http://fonts.googleapis.com/css?family=Lato:300,400,900);
@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: 'codropsicons';
	src:url('../fonts/codropsicons/codropsicons.eot');
	src:url('../fonts/codropsicons/codropsicons.eot?#iefix') format('embedded-opentype'),
		url('../fonts/codropsicons/codropsicons.woff') format('woff'),
		url('../fonts/codropsicons/codropsicons.ttf') format('truetype'),
		url('../fonts/codropsicons/codropsicons.svg#codropsicons') format('svg');
}

*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after { content: ''; display: table; }
.clearfix:after { clear: both; }

body {
	background: #EEE;
	color: #2E3444;
	font-size: 100%;
	line-height: 1.25;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
}

a {
	color: #FF2A48;
	text-decoration: none;
	outline: none;
}

a:hover, a:focus {
	color: #2E3444;
}

header {
	margin: 0 auto;
	padding: 1.6em;
	text-align: center;
	background-color: #f6f6f6;
	-webkit-box-shadow: 0px 1px 4px 0px rgba(50, 50, 50, 0.41);
	-moz-box-shadow:    0px 1px 4px 0px rgba(50, 50, 50, 0.41);
	box-shadow:         0px 1px 4px 0px rgba(50, 50, 50, 0.41);
	position: relative;
}

header h1{
	margin:0;
}

header h1 a{
	display: block;
	width: 310px;
	height: 25px;
	background: url('../img/logo-guiadacachoeirinha.png') no-repeat;
	text-indent: -90000000px;
	margin: 0 auto;
	overflow: hidden;
	outline: none;
}

header input{
	padding: 10px;
	font-size: .9em;
	width: 60%;
	background:#e6e5e5 url('../img/icon-search.png') no-repeat 99% center;
	border: none;
	margin:20px 0 0 0;

}

header a.anuncie{
	position: absolute;
	top: -3px;
	right: 0;
	padding: 6px 20px;
	background-color: #7dc226;
	color: #FFF;
	font-weight: bold;
}

h2{
	font-weight: 200;
	font-size: 2.6em;
	color: #2a82ca;
}

h2 span{
	color: #e60060;
}

p{
	font-weight: 400;
}


.banner-slim{
	margin: 40px 10px;
}

section {
	padding: 1em;
	text-align: center;
}

.related {
	padding: 15em 0 3em;
	clear: both;
}

.related p {
	font-size: 1.5em;
}

.related > a {
	border: 1px solid #2E3444;
	display: inline-block;
	text-align: center;
	margin: 20px 10px;
	padding: 25px;
	color: #2E3444;
}

.related a:hover {
	border-color: #FF2A48;
	color: #FF2A48;
}

.related a img {
	max-width: 100%;
	opacity: 0.8;
}

.related a:hover img,
.related a:active img {
	opacity: 1;
}

.related a h3 {
	margin: 0;
	padding: 0.5em 0 0.3em;
	max-width: 300px;
	text-align: left;
}

@media screen and (max-width: 25em) {

	.codrops-icon span {
		display: none;
	}

}

.grid-wrap.format{
	text-align: left;
	padding: 0 2em;
}

.format h3{
	font-size: 2em;
	font-weight: 300;
}

.format h4{
	font-size: 1.6em;
	font-weight: 300;
	margin: 0 0 20px 0;
}

.format h5{
	font-size: 1.2em;
	font-weight: 400;
	margin: 10px 0 0 0;
}

.format-details{
	background-color: #FFF;
	margin: 0 0 20px 0;
	padding: 1em;
}

.topo{
	height: 400px;
}

.details{
	padding: 40px 80px;
}

.detail h2{
	background-color: #FFF;
	margin: 0;
	padding: 30px 80px;
	border-bottom: #D1D1D1 solid 1px;
}

p.icon{
	padding: 0 0 0 35px;
	background: url(../img/icons.png) no-repeat no-repeat;
	height: 43px;
	line-height: 43px;
	margin: 5px;
}

p.icon-build{background-position: 0 15px}
p.icon-address{background-position: 0 -136px}
p.icon-phone{background-position: 0 -27px}
p.icon-time{background-position: 0 -60px}
p.icon-site{background-position: 0 -97px}

.angular-google-map-container { height: 400px; }
