<div class="container">
	<div ng-controller="OrdersController">
		<div class="topo" style="background:url('app/img/ads/{{ad.bannerfull}}') no-repeat center center; background-size:cover"></div>
		<div class="details">
			<h2>{{ ad.name }}</h2>
			<p class="icon icon-build">{{ad.description}}</p>
			<p class="icon icon-phone">{{ad.phone}}</p>
			<p class="icon icon-time">{{ad.time}}</p>
			<p class="icon icon-site"><a href="http://{{ad.site}}">{{ad.site}}</a></p>
		</div>
			<iframe width="100%" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=pt-BR&amp;geocode=&amp;q=Vila+Nova+Cachoeirinha,+S%C3%A3o+Paulo,+Brasil&amp;aq=0&amp;oq=Vila+Nova&amp;sll=-23.46612,-46.657863&amp;sspn=0.01181,0.019269&amp;g=cep+02617+000&amp;ie=UTF8&amp;hq=&amp;hnear=Vila+Nova+Cachoeirinha,+S%C3%A3o+Paulo,+Rep%C3%BAblica+Federativa+do+Brasil&amp;ll=-23.472296,-46.659671&amp;spn=0.023618,0.038538&amp;t=m&amp;z=14&amp;output=embed"></iframe>
	</div>
</div>