<header>
	<section class="grid-wrap">
		<h1 class="logo"><a href="/"title="Encontre tudo o que você precisa no bairro da Vila Nova Cachoeirinha.">O Guia da Vila Nova Cachoeirinha</a></h1>
		<input ng-model="search">
		<a class="anuncie" href="anuncie.html" title="Anuncie">Anuncie</a>
	</section>
</header>
<div class="container" ng-controller="CustomersController">
	<section class="grid-wrap">
		<ul class="grid swipe-down" id="grid">
			<li ng-repeat="ad in ads | filter:search">
				<a href="#/detail/{{ ad.id }}" title="{{ad.name}}">
					<img src="app/img/ads/{{ad.banner}}">
					<h3>{{ad.name}}<span>{{ad.phone}}</span></h3>
				</a>
			</li>
		</ul>
	</section>
</div>